<h1 class= 'section-heading' style='text-align: center;'>Employee Management</h1>
<div class="container" id='add-employee-container'>
<div class='row'>
  <!-- Creates column for the "Add Employee" input box -->
  <div class='col-lg-6'>
  <!-- Form tag for the POST route to create an employee -->
  <form class="well form-horizontal" method="POST" action="/api/create" id="add-employee-form">
      <fieldset>
      <!-- Form Name -->
      <legend>Add Employee</legend>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>  
        <div class="col-md-6 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label> 
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
             <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
          <div class="col-md-6 inputGroupContainer">  
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
             
      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input name="phone_number" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
            
      <div class="form-group">
        <label class="col-md-4 control-label">Address</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="address" placeholder="Address" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
       
      <div class="form-group">
        <label class="col-md-4 control-label">Username</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
        <input name="username" placeholder="Username" class="form-control"  type="text">
          </div>
        </div>
      </div>
         
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Password</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input name="password" class="form-control"  type="text">
          </div>
      </div>
      </div>
      <!-- radio checks -->
       <div class="form-group">
          <label class="col-md-4 control-label">Add as Administrator?</label>
          <div class="col-md-6">
              <div class="radio">
                  <label>
                      <input type="radio" name="admin" value="1" /> Yes
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="admin" value="0" /> No
                  </label>
              </div>
          </div>
      </div>
       <button type="submit" class="btn btn-success center-block" id="add-employee-button">Add Employee <span class="fa fa-user-plus"></span></button>
      </fieldset>
  </form>
  </div>
  <div class='col-lg-6'>
  <!-- Form tag for the POST route to create an employee -->
  <form class="well form-horizontal" method="POST" action="/api/edit" id="edit-employee-form">
      <fieldset>
      <!-- Form Name -->
      <legend>
        {{!-- Dropdown menu to populate names of employees to edit --}}
        {{!-- Need to add functionality to populate that edit form upon clicking name from dropdown --}}
          <div id='employee-dropdown'>
              <select>
                <option>Edit Employee</option>
                {{#each Employees }}
                  <option value = {{this.id}}> {{ first_name }} {{ last_name }} </option>
                {{/each}}  
              </select>
          </div>
        </legend>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>  
        <div class="col-md-6 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label> 
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
             <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
          <div class="col-md-6 inputGroupContainer">  
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
             
      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input name="phone_number" placeholder="(845)555-1212" class="form-control" type="text">
          </div> 
        </div>
      </div>
      <!-- Text input-->
            
      <div class="form-group">
        <label class="col-md-4 control-label">Address</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="address" placeholder="Address" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->
       
      <div class="form-group">
        <label class="col-md-4 control-label">Username</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
        <input name="username" placeholder="Username" class="form-control"  type="text">
          </div>
        </div>
      </div>
         
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Password</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input name="password" class="form-control"  type="text">
          </div>
      </div>
      </div>
      <!-- radio checks -->
       <div class="form-group">
          <label class="col-md-4 control-label">Add as Administrator?</label>
          <div class="col-md-6">
              <div class="radio">
                  <label>
                      <input type="radio" name="admin" value="1" /> Yes
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="admin" value="0" /> No
                  </label>
              </div>
          </div>
      </div>
      <!-- INSERT A DROPDOWN TO CHOOSE AN EMPLOYEE TO EDIT -->
          <form method="POST" action='/api/edit/:id?_method=UPDATE'>
              <button type="submit" class="btn btn-primary center-block" id="edit-employee-button">Edit Employee <span class="fa fa-user-plus"></span></button>
          </form>
      </fieldset>
  </form>
{{!-- End Row --}}
  </div>
{{!-- End Container --}}
</div>
</div>
    {{!-- Displays Table of all employees --}}
     {{>dashboard}}
</div>
</div>
<!-- /.container -->
{{!-- <script type="text/javascript" src='../../public/js/add-employee.js'></script> --}}
