<div class='container'>

    <form class="well form-horizontal" method="POST" action="/api/add-hours" id="add-employee-form">

    <legend>Add Hours</legend>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input name='first_name' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input name='last_name' class="form-control" type="text">
                </div>
            </div>
        </div>


        <div class="row" id='hours'>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Monday</label>
                    <input name='monday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Tuesday</label>
                    <input name='tuesday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Wednesday</label>
                    <input name='wednesday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Thursday</label>
                    <input name='thursday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Friday</label>
                    <input name='friday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Saturday</label>
                    <input name='saturday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label">Sunday</label>
                    <input name='sunday' class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Total Hours</label>
                    <input name='total_hours' class="form-control" type="text">
                </div>
            </div>


    
            <div class="col-sm-2">
            
                <button class="btn btn-primary btn-block" type="submit">Submit Hours</button>
                
            </div>



        </div>
                
            <select>
                  
                  {{#each Schedules }}
                  
                  <option> {{ last_name }} </option>


                  {{/each}}  


            </select>
  </form>


<!--     <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
</div>
