<div class='container'>
    <div class="features-boxed">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="text-center">Technologies Used</h2></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-html5 fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">HTML &amp; CSS</span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="icon ion-social-javascript fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">JavaScript </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="icon ion-social-nodejs fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Node.js </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Express </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Express-handlebars </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Passport.js </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-percent fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">MySQL </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-share-alt fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Sequelize </span>
                            <br>

                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-css3 fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Bootstrap </span>
                            <br>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center">A Managerial tool for tracking hours worked by your Employees</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                        <h3 class="name">Easy to Use</h3>
                        <p class="description">Add an employee to your database and input the amount of hours they worked. Period.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                        <h3 class="name">Customizable </h3>
                        <p class="description">Make this page your own with your own logo and theme, specialized for your business.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                        <h3 class="name">Mobile-first</h3>
                        <p class="description">This app is fully mobile-responsive. Manage your payroll from anywhere!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="text-center">Future Applications</h2></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Auto-populate Dates</span>
                            <br>
<span class="text-uppercase text-muted h6">moment.js </span></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-line-chart fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Employee Portal</span>
                            <br>
<span class="text-uppercase text-muted h6">GUI for employees</span></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-dollar fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Salaries Payable</span>
                            <br>
<span class="text-uppercase text-muted h6">payment information</span></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-percent fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Time Clock</span>
                            <br>
<span class="text-uppercase text-muted h6">automate time-tracking</span></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-share-alt fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">'Update' functionality</span>
                            <br>
<span class="text-uppercase text-muted h6">PUT ROUTE</span></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-6">
                        <p class="text-center"><span class="fa-stack"><i class="fa fa-circle text-primary fa-stack-2x"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i><br>
<br>
</span>
                            <br>
<span class="h2">Kittens </span>
                            <br>
<span class="text-uppercase text-muted h6"> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>