
<h1 class="text-center">Contact Us</h1>


<div class='container'>
    <div class="container" id="info-container">
        <div class="row">
            <div class="col-md-12">





            <div class="col-md-6 col-sm-6 col-xs-12" id="contact-box">
                <p id="contact-text"> We would love to sell the shit out of this product to you. If you are managing a company that uses physical time cards from the stone age to track the hours worked by your employess, this app can help you! Reach out to us to find out more!</p>
                <div
                class="info-box"><i class="glyphicon glyphicon-map-marker my-info-icons"></i><span class="text-uppercase text-info">Address: </span><span>125 East Commonwealth Ave, Chandler, AZ 85225</span></div>
            <div class="info-box"><i class="glyphicon glyphicon-envelope my-info-icons"></i><span class="text-uppercase text-info">Email: </span><span>app@heroku.com </span></div>
            <div class="info-box"><i class="glyphicon glyphicon-phone-alt my-info-icons"></i><span class="text-uppercase text-info">Phone: </span><span>+234000000000 </span></div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 site-form">
            <form id="my-form">
                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="firstname">First Name</label>
                    <input class="form-control" type="text" name="firstname" placeholder="First Name" autofocus="" id="firstname"><i class="form-control-feedback fa fa-user" aria-hidden="true"></i></div>
                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="lastname">Last Name</label>
                    <input class="form-control" type="text" name="lastname" placeholder="Last Name" id="lastname"><i class="form-control-feedback fa fa-user" aria-hidden="true"></i></div>
                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="phonenumber">Phone Number</label>
                    <input class="form-control" type="tel" name="phonenumber" required="" placeholder="Phone" id="phonenumber"><i class="form-control-feedback fa fa-phone" aria-hidden="true"></i></div>
                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="email">Email Address</label>
                    <input class="form-control" type="text" name="email" required="" placeholder="Email" id="email"><i class="form-control-feedback fa fa-envelope" aria-hidden="true"></i></div>
                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="messages">Last Name</label>
                    <textarea class="form-control" rows="8" name="messages" required="" placeholder="Message"></textarea><i class="form-control-feedback fa fa-pencil" aria-hidden="true"></i></div>
                <button class="btn btn-default btn-lg" type="submit" id="form-btn">SEND </button>
            </form>
        </div>

        <!-- <div class="clearfix"></div> -->

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>