body {
	background-color: #fff;
}

<<<<<<< HEAD
#success_message{ display: none;}

#add-employee-button {
	background-color: #ff5c5c;
	margin: 0 auto;
}

#add-employee-container {
	margin-top: 40px;
}

#hours {
	display: block;
margin-left: auto;
margin-right: auto;
display: table-cell;
vertical-align: middle;
}
=======
>>>>>>> b2a43e79cbe3a8e1f97e4e8e94b0c784b6327158
