.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}

#bootloader_GFTe_{height:42px;}.bootloader_GFTe_{display:block!important;}